<section id="about" class="about">
    <div class="about-container">
        <div class="about-content">
            <h3 class="section-title">關於 Slip </h3>
            <div class="about-text">
                <p class="about-description">
                    Slip 是專為小型商家設計的現代化收銀系統。我們相信簡單就是力量，
                    因此打造了一款無需複雜設定、立即可用的 POS 應用程式。
                </p>
                <p class="about-description">
                    不需要註冊帳號，沒有月租費，沒有隱藏費用。下載即可使用，
                    讓您專注於經營事業，而不是學習複雜的系統操作。
                </p>
            </div>
            <div class="about-features">
                <div class="about-feature">
                    <h4>簡單易用</h4>
                    <p>直觀的介面設計，無需培訓即可上手</p>
                </div>
                <div class="about-feature">
                    <h4>離線優先</h4>
                    <p>即使沒有網路連線也能正常運作</p>
                </div>
                <div class="about-feature">
                    <h4>無月租費</h4>
                    <p>一次購買，終身使用，沒有額外費用</p>
                </div>
            </div>
        </div>
    </div>
</section>
