<section id="early-operators" class="early-operators-cta">
    <div class="section-container">
        <p class="section-subtitle">前 10 家營業店家計畫</p>
        <h3 class="section-title">Slip 前 10 家營業店家計畫</h3>
        <p class="section-lede">尋找真實營業現場的使用者，讓我們知道哪裡做得對、哪裡需要改。</p>
        <div class="cta-buttons">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdS7BwavSE7GQK2mFF422h4DbrHsyBcT0Gudjv2YUzJ5XJmVA/viewform?usp=publish-editor" class="btn btn-secondary" target="_blank">Slip 前 10 家營業店家計畫｜申請表</a>
        </div>
    </div>
</section>
