<section id="early-operators" class="early-operators-cta">
    <div class="section-container">
        <p class="section-subtitle"><%= t('slip.early_operators_cta.subtitle') %></p>
        <h3 class="section-title"><%= t('slip.early_operators_cta.title') %></h3>
        <p class="section-lede"><%= t('slip.early_operators_cta.lede') %></p>
        <div class="cta-buttons">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdS7BwavSE7GQK2mFF422h4DbrHsyBcT0Gudjv2YUzJ5XJmVA/viewform?usp=publish-editor" class="btn btn-secondary" target="_blank"><%= t('slip.early_operators_cta.cta') %></a>
        </div>
    </div>
</section>
