<nav class="nav">
    <div class="nav-container">
        <div class="logo">
            <img src="/images/slip/logo.png" alt="Slip POS" class="logo-img">
        </div>
        <div class="nav-menu">
            <a href="/slip/#free-plan" class="nav-link">免費方案</a>
            <a href="/slip/#local-first" class="nav-link">Local-first</a>
            <a href="/slip/#tutorials" class="nav-link">教學</a>
            <a href="/slip/early-operators.html" class="nav-link">前 10 家計畫</a>
            <a href="https://apps.apple.com/us/app/slip-pos/id6747707174" class="nav-link download-btn" target="_blank" data-analytics-label="slip_nav_download">下載 Slip</a>
        </div>
    </div>
</nav>
