<nav class="tutorial-sidebar-nav">
    <p class="tutorial-sidebar-title">教學列表</p>
    <ul class="tutorial-sidebar-list">
        <li><a href="/slip/tutorial/">教學總覽</a></li>
        <li><a href="/slip/tutorial/menu-import-with-chatgpt/">使用 AI 快速匯入菜單</a></li>
        <li class="is-disabled"><span>印表機設定與測試（即將上線）</span></li>
        <li class="is-disabled"><span>第一次開店流程（即將上線）</span></li>
        <li class="is-disabled"><span>商品分類與選項設定（即將上線）</span></li>
        <li class="is-disabled"><span>交班與日結對帳（即將上線）</span></li>
    </ul>
</nav>
