---
title: Support – Slip POS
layout: privacy
---

<section class="support-page">
    <h1>Slip Support</h1>
    <p>If you need help, please contact us:</p>
    <p>Email: hello@slipbox.co</p>
</section>
