<!doctype html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= current_page.data.title || "Slipbox" %></title>
        <%= stylesheet_link_tag "site" %>
    </head>
    <body class="home-page">
        <%= yield %>
    </body>
</html>