---
title_key: home.meta.title
layout: home
---

<h1><%= t('home.greeting') %></h1>
<p>
    <a href="<%= localized_path('/slip/') %>" class="btn btn-primary">
        <%= t('home.cta') %>
    </a>
</p>
<footer><%= t('home.footer') %></footer>
