---
title_key: support.meta.title
layout: privacy
---

<section class="support-page">
    <h1><%= t('support.title') %></h1>
    <p><%= t('support.body') %></p>
    <p><%= t('support.email') %></p>
</section>
